<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>BusStop</title>
    <style>
        .top-side{
            z-index: 3;
        }
        .button-mid{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }

    </style>
</head>
<body>

<div class="navbar navbar-dark bg-dark top-side">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Bus</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div>

</div>
<div class="button-mid">
    <form method="post">

        <input placeholder="이거 바꾸고 이제까지 받은 데이터 중에서 확인하기">
        <button type="submit" class="btn btn-primary">데이터 보내기</button>
    </form>
</div>
</body>
</html>