<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>BusSetting</title>
    <style>
        .button-mid{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Bus</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">routeId</th>
            <th scope="col">routeName</th>
            <th scope="col">regionName</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="buss,i :${bus}">
                <th scope="row" th:text="${i.index+1}"></th>
                <td th:text="${buss[1]}"></td>
                <td th:text="${buss[2]}"></td>
                <td th:text="${buss[0]}"></td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="busNodeId" th:value="${buss[1]}">
                        <input type="hidden" name="busNumber" th:value="${buss[2]}">
                        <input type="hidden" name="busArea" th:value="${buss[0]}">
                        <button type="submit" class=" btn btn-lg btn-primary" >선택</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>