<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>LoginHome</title>
    <style>
        .bus-button{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .button-mid{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Bus</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div class="bus-button">
    <form action="setting" method="get">
        <span>원하는 버스 번호를 넣어주세요</span><!--entity를 받는데 다른 값을 넣어야한다. 다른 entity를 생각해볼만하다.-->
        <input type="text" placeholder="버스 번호" name="busNumber">
        <button type="submit" class="btn btn-primary">버스설정</button>
    </form>
</div>
<div class="button-mid">
    <button class=" btn btn-primary" th:onclick="|location.href='@{/bus}'|" type="button">하차 정류장 설정하기</button>
    <button class=" btn btn-primary " th:onclick="|location.href='@{/area}'|" type="button">전송 데이터 설정하기</button>
</div>
</body>
</html>